[Unit]
Description=Super Micro Fan Control
After=syslog.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
EnvironmentFile=/etc/default/smfc
ExecStart=/opt/smfc/smfc.py $OPTIONS
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
